:root {
    --controls-background-color: #ffffff69;
    --button-background-color: #fff;
    --button-background-hover-color: #ebe9e9;
    --button-background-active-color: #599bb3;
    --button-background-active-hover-color: #4d879c;
    --button-text-color: var(--text-color);
}
.sscs {
    /* Buttons */

    .buttons {
        position: absolute;

        width: calc(100% - 10px);
        height: 50px;

        left: 5px;
        bottom: 10px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        flex-wrap: wrap;

        border-radius: 8px;
        background-color: var(--controls-background-color);
        z-index: 11;

        .btn {
            background-color: var(--button-background-color);
            border-radius: 8px;
            display: inline-block;
            cursor: pointer;
            color: var(--button-text-color);
            padding: 10px 12px;
            text-decoration: none;
            border: none;

            &:hover {
                background-color: var(--button-background-hover-color);
            }

            &.active {
                background-color: var(--button-background-active-color);
                color: #ffffff;

                &:hover {
                    background-color: var(--button-background-active-hover-color);
                }
            }
        }
    }

    /* Controls */

    .controls {
        position: absolute;

        width: 200px;
        height: auto;

        padding: 10px;

        left: 25px;
        top: calc(50% - 80px);

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        flex-wrap: wrap;

        border-radius: 8px;
        background-color: var(--controls-background-color);
        z-index: 11;
    }

    .show-html {
        padding: 5px;

        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 8px;
        background-color: var(--controls-background-color);
        z-index: 11;

        .btn {
            background-color: var(--button-background-color);
            border-radius: 8px;
            display: inline-block;
            cursor: pointer;
            padding: 5px;
            text-transform: uppercase;
            color: var(--button-text-color);
            font-weight: bold;
            text-decoration: none;
            border: none;
        }
    }
}
