.code-container {
    box-sizing: border-box;
    height: 100%;
    background: #fff;
    color: #2c2c2c;
    padding: 20px;
    border-radius: 8px;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.5;
    tab-size: 4;
    overflow-x: auto;
    white-space: pre-wrap;
}

.html-tag {
    color: #095699;
}
.html-tag-name {
    color: #1366aa;
}
.html-attribute {
    color: #527f9b;
}
.html-value {
    color: #81503d;
}
.html-text {
    color: #41403f;
}

.css-selector {
    color: #095699;
}
.css-property {
    color: #81503d;
}
.css-value {
    color: #41403f;
}
