.sscs {
    .rect {
        width: var(--rect-size);
        height: var(--rect-size);
        border: var(--rect-border-size) solid var(--rect-border-color);
        padding: var(--rect-padding-size);

        overflow: auto;

        font-size: 20px;
        color: var(--text-color);
    }
}
