:root {
    --rect-size: 300px;
    --rect-border-size: 50px;
    --rect-padding-size: 20px;
    --rect-border-color: rgb(176, 210, 211);
    --scroll-size: 15px;
}

.sscs {
    .rect {
        width: var(--rect-size);
        height: var(--rect-size);
        border: var(--rect-border-size) solid var(--rect-border-color);
        padding: var(--rect-padding-size);

        overflow: auto;

        font-size: 20px;
        color: var(--text-color);
    }
}
